---
import Layout from '../../layouts/Layout.astro';
import Banner from '../../components/Banner.astro';
---
<!-- INDEX EN INGLES -->
<Layout title="Home">
  <Banner />
  <div class="container">
    <div class="contentGeneral">
      <h1>Contact</h1>
    </div>
  </div>
</Layout>
<style lang="scss">
.contentGeneral {
  padding: 25px 0;
  color: var(--white-color);
}
</style>