---
import Layout from '../layouts/Layout.astro';

---

<Layout lang="es" title="Home">
  <div class="container">
    <div class="contentGeneral">
      <h1>Contacto</h1>
    </div>
  </div>
</Layout>
<style lang="scss">
.contentGeneral {
  padding: 25px 0;
  color: var(--white-color);
}
</style>