---
import Layout from '../layouts/Layout.astro';
import CardsReviews from '../components/CardsReviews.astro';
---

<Layout lang='es' title='TESTIMONIOS'>
  <div class='container'>
    <h1 class="titleHeader">Testimonios</h1>
    <CardsReviews />
  </div>
</Layout>
<style lang="scss">
  
</style>
