---
const { review } = Astro.props;
---
<div class="ContendGeneral">
  <div class="contedImg">
    <img src="assets/img-CS.webp" alt="review_img">
  </div>
  <p>name</p>
</div>
<style lang="scss">
  .ContendGeneral {
    .contedImg {
      img {
        width: 350px;
        height: 350px;
        object-fit: cover;
      }
    }
  }
</style>